.app-container{
  display: flex;
  width: 100%;
}

.block{
  width: 100%;
}

.sidebar{
  min-height: 500px;
}

.mypost{
  margin:20px ;
  width: 1400px;
  padding-left: 40px;
  padding-top: 5px;
}

.myform{
  width: 80%;
  padding-left: 10%;
 margin-top: 20px;
}

.my1-container{
  margin-top: 10px;
  padding-left: 200px;
}